In [37]:
# Add the libraries
import pandas as pd
import re
import os
import numpy as np

In [38]:
elo_ratings = pd.read_csv('D:/STUDY/STUDY/PYTHON/Predict winner/elo rating.csv')
elo_ratings

                      Teams  elo rating
0                  Man City        2352
1                    Bayern        2347
2               Real Madrid        2287
3                 Barcelona        2260
4                    Napoli        2252
5               Arsenal FC         2212
6                   Benfica        2196
7                 Liverpool        2195
8        Manchester United         2189
9                     Inter        2155
10                    Paris        2150
11                    Porto        2150
12                 Dortmund        2141
13                 Atletico        2140
14                 Juventus        2129
15                  Leipzig        2121
16                  Chelsea        2115
17  Brighton & Hove Albion         2107
18                    Milan        2105
19        Newcastle United         2103
20                Tottenham        2081
21               Leverkusen        2076
22                 Salzburg        2072
23              Real Betis         2063
24           Villarreal CF         2059
25         FC Union Berlin         2058
26             Sporting CP         2056
27                Marseille        2055
28               Feyenoord         2055
29             SC Freiburg         2052
30                 AS Roma         2048
31                     Ajax        2043
32           Real Sociedad         2043
33           PSV Eindhoven         2039
34              Lazio Roma         2038
35                Frankfurt        2035
36                   Celtic        2034
37               Lille OSC         2032
38                Atalanta         2032
39             Aston Villa         2028
40          ACF Fiorentina         2027
41            Brentford FC         2026
42    Zenit St. Petersburg         2025
43                 RC Lens         2023
44               AS Monaco         2021
45         Athletic Bilbao         2016
46         West Ham United         2006
47           VfL Wolfsburg         2004
48            Stade Rennes         1996
49    Union Saint Gilloise         1994

In [39]:
team_stats = pd.read_csv('D:/STUDY/STUDY/PYTHON/Predict winner/team stats.csv')
team_stats

               Teams  Attacks  Defense
0           Man City      529      284
1        Real Madrid      459      294
2          Liverpool      446      322
3            Chelsea      430      365
4             Bayern      410      351
5          Barcelona      398      231
6              Paris      392      333
7            Benfica      367      327
8             Napoli      361      344
9          Tottenham      349      326
10             Inter      340      287
11         Marseille      336      243
12             Porto      314      329
13             Milan      312      312
14          Atletico      309      236
15          Dortmund      302      323
16           Leipzig      293      317
17          Juventus      283      220
18        Leverkusen      278      266
19       Club Brugge      275      295
20          Salzburg      249      272
21              Ajax      247      246
22            Celtic      246      218
23         Frankfurt      243      376
24          M. Haifa      222      244
25           Sevilla      201      207
26             Plzen      184      223
27     Dinamo Zagreb      177      236
28        Copenhagen      170      221
29           Rangers      166      219
30       Sporting CP      158      226
31  Shakhtar Donetsk      133      234

In [40]:
matches = pd.read_csv('D:/STUDY/STUDY/PYTHON/Predict winner/matches.csv')
matches

,DATE,SEASON,HOME_TEAM,AWAY_TEAM,HOME_TEAM_SCORE,AWAY_TEAM_SCORE,Winner
0,9/15/2021,2021-2022,Man City,Leipzig,6,3,Man City
1,9/15/2021,2021-2022,Club Brugge,Paris,1,1,Draw
2,9/28/2021,2021-2022,Paris,Man City,2,0,Paris
3,9/28/2021,2021-2022,Leipzig,Club Brugge,1,2,Club Brugge
4,10/19/2021,2021-2022,Club Brugge,Man City,1,5,Man City
...,...,...,...,...,...,...,...
739,5/2/2017,2016-2017,Real Madrid,Atletico,3,0,Real Madrid
740,5/3/2017,2016-2017,AS Monaco,Juventus,0,2,Juventus
741,5/9/2017,2016-2017,Juventus,AS Monaco,2,1,Juventus
742,5/10/2017,2016-2017,Atletico,Real Madrid,2,1,Atletico
743,6/3/2017,2016-2017,Juventus,Real Madrid,1,4,Real Madrid

In [62]:
team_data = pd.merge(team_stats, elo_ratings, left_on = 'Teams', right_on='Teams', how='inner').reset_index(drop=True)
team_data

          Teams  Attacks  Defense  elo rating
0      Man City      529      284        2352
1   Real Madrid      459      294        2287
2     Liverpool      446      322        2195
3       Chelsea      430      365        2115
4        Bayern      410      351        2347
5     Barcelona      398      231        2260
6         Paris      392      333        2150
7       Benfica      367      327        2196
8        Napoli      361      344        2252
9     Tottenham      349      326        2081
10        Inter      340      287        2155
11    Marseille      336      243        2055
12        Porto      314      329        2150
13        Milan      312      312        2105
14     Atletico      309      236        2140
15     Dortmund      302      323        2141
16      Leipzig      293      317        2121
17     Juventus      283      220        2129
18   Leverkusen      278      266        2076
19     Salzburg      249      272        2072
20         Ajax      247      246        2043
21       Celtic      246      218        2034
22    Frankfurt      243      376        2035

In [42]:
matches = pd.merge(matches, team_data, left_on = 'HOME_TEAM', right_on = 'Teams', how='inner').reset_index(drop=True)
matches.rename(columns = {'Attacks':'home_attack','Defense':'home_defense','elo rating':'home_elo_rating'}, inplace=True)
matches.drop(['Teams'], axis=1, inplace=True)
matches.drop(['Winner'], axis=1, inplace=True)
matches.head()

,DATE,SEASON,HOME_TEAM,AWAY_TEAM,HOME_TEAM_SCORE,AWAY_TEAM_SCORE,home_attack,home_defense,home_elo_rating
0,9/15/2021,2021-2022,Man City,Leipzig,6,3,529,284,2352
1,11/3/2021,2021-2022,Man City,Club Brugge,4,1,529,284,2352
2,11/24/2021,2021-2022,Man City,Paris,2,1,529,284,2352
3,3/9/2022,2021-2022,Man City,Sporting CP,0,0,529,284,2352
4,4/5/2022,2021-2022,Man City,Atletico,1,0,529,284,2352

In [43]:
matches = pd.merge(matches, team_data, left_on = 'AWAY_TEAM', right_on = 'Teams', how='inner').reset_index(drop=True)
matches.rename(columns = {'Attacks':'away_attack','Defense':'away_defense','elo rating':'away_elo_rating'}, inplace=True)
matches.drop(['Teams'], axis=1, inplace=True)

In [44]:
matches['result'] = np.where(matches['HOME_TEAM_SCORE'] > matches['AWAY_TEAM_SCORE'], 'W',
                    np.where(matches['HOME_TEAM_SCORE'] < matches['AWAY_TEAM_SCORE'], 'L', 'D'))

In [45]:
print(matches.head(10))

         DATE     SEASON  HOME_TEAM AWAY_TEAM  HOME_TEAM_SCORE  \
0   9/15/2021  2021-2022   Man City   Leipzig                6
1  10/19/2021  2021-2022      Paris   Leipzig                3
2  11/24/2020  2020-2021      Paris   Leipzig                1
3   3/10/2021  2020-2021  Liverpool   Leipzig                2
4   11/1/2017  2017-2018      Porto   Leipzig                3
5   9/17/2019  2019-2020    Benfica   Leipzig                1
6   2/19/2020  2019-2020  Tottenham   Leipzig                0
7  11/24/2021  2021-2022   Man City     Paris                2
8    5/4/2021  2020-2021   Man City     Paris                2
9   11/3/2021  2021-2022    Leipzig     Paris                2

   AWAY_TEAM_SCORE  home_attack  home_defense  home_elo_rating  away_attack  \
0                3          529           284             2352          293
1                2          392           333             2150          293
2                0          392           333             2150          293
3                0          446           322             2195          293
4                1          314           329             2150          293
5                2          367           327             2196          293
6                1          349           326             2081          293
7                1          529           284             2352          392
8                0          529           284             2352          392
9                2          293           317             2121          392

   away_defense  away_elo_rating result
0           317             2121      W
1           317             2121      W
2           317             2121      W
3           317             2121      W
4           317             2121      W
5           317             2121      L
6           317             2121      L
7           333             2150      W
8           333             2150      W
9           333             2150      D

In [46]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [47]:
from sklearn.cluster import KMeans
cluster_data = team_data[['Attacks','Defense','elo rating']]
cluster_data['Attacks'] = cluster_data['Attacks'].astype('float')
cluster_data['Defense'] = cluster_data['Defense'].astype('float')
cluster_data['elo rating'] = cluster_data['elo rating'].astype('float')

cluster_data = (cluster_data-cluster_data.min())/(cluster_data.max()-cluster_data.min())

In [80]:
# Clasify team into 'Weak', 'Average' and 'Strong' categories
kmeans = KMeans(n_clusters=3)
kmeans.fit(cluster_data)
cluster_data['Cluster'] = kmeans.labels_
cluster_numbers = cluster_data.groupby(['Cluster']).mean('elo rating').sort_values('elo rating')
cluster_order = cluster_numbers.index.unique()

team_data['Cluster']=cluster_data['Cluster'].astype('str')
team_data['Cluster'].replace(str(cluster_order[0]),'Weak', inplace=True)
team_data['Cluster'].replace(str(cluster_order[1]),'Average', inplace=True)
team_data['Cluster'].replace(str(cluster_order[2]),'Strong', inplace=True)
print(team_data.to_string())

          Teams  Attacks  Defense  elo rating  Cluster
0      Man City      529      284        2352   Strong
1   Real Madrid      459      294        2287   Strong
2     Liverpool      446      322        2195   Strong
3       Chelsea      430      365        2115  Average
4        Bayern      410      351        2347   Strong
5     Barcelona      398      231        2260   Strong
6         Paris      392      333        2150  Average
7       Benfica      367      327        2196  Average
8        Napoli      361      344        2252  Average
9     Tottenham      349      326        2081  Average
10        Inter      340      287        2155  Average
11    Marseille      336      243        2055     Weak
12        Porto      314      329        2150  Average
13        Milan      312      312        2105  Average
14     Atletico      309      236        2140     Weak
15     Dortmund      302      323        2141  Average
16      Leipzig      293      317        2121  Average
17     Juventus      283      220        2129     Weak
18   Leverkusen      278      266        2076     Weak
19     Salzburg      249      272        2072     Weak
20         Ajax      247      246        2043     Weak
21       Celtic      246      218        2034     Weak
22    Frankfurt      243      376        2035  Average

In [50]:
#the dict() function is called with team_data[['Teams','Cluster']].to_records(index=False) as an argument to create a dictionary 
# for mapping team names to their respective clusters, 
# then the resulting dictionary is used to map the team names in the HOME_TEAM and AWAY_TEAM columns to their corresponding clusters.

matches['home_cluster'] = matches['HOME_TEAM'].map(dict(team_data[['Teams','Cluster']].to_records(index=False)))
matches['away_cluster'] = matches['AWAY_TEAM'].map(dict(team_data[['Teams','Cluster']].to_records(index=False)))

In [51]:
data = matches.dropna()

In [53]:
# Since sklearn work with numeric data -> convert categories into numeric categories
data['home_cluster'].replace('Strong',3,inplace=True)
data['home_cluster'].replace('Average',2,inplace=True)
data['home_cluster'].replace('Weak',1,inplace=True)
data['away_cluster'].replace('Strong',3,inplace=True)
data['away_cluster'].replace('Average',2,inplace=True)
data['away_cluster'].replace('Weak',1,inplace=True)
data['result'].replace('W',3,inplace=True)
data['result'].replace('D',2,inplace=True)
data['result'].replace('L',1,inplace=True)
data

,DATE,SEASON,HOME_TEAM,AWAY_TEAM,HOME_TEAM_SCORE,AWAY_TEAM_SCORE,home_attack,home_defense,home_elo_rating,away_attack,away_defense,away_elo_rating,result,home_cluster,away_cluster
0,9/15/2021,2021-2022,Man City,Leipzig,6,3,529,284,2352,293,317,2121,3,3,2
1,10/19/2021,2021-2022,Paris,Leipzig,3,2,392,333,2150,293,317,2121,3,2,2
2,11/24/2020,2020-2021,Paris,Leipzig,1,0,392,333,2150,293,317,2121,3,2,2
3,3/10/2021,2020-2021,Liverpool,Leipzig,2,0,446,322,2195,293,317,2121,3,3,2
4,11/1/2017,2017-2018,Porto,Leipzig,3,1,314,329,2150,293,317,2121,3,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,11/7/2018,2018-2019,Benfica,Ajax,1,1,367,327,2196,247,246,2043,2,2,1
231,10/2/2018,2018-2019,Bayern,Ajax,1,1,410,351,2347,247,246,2043,2,3,1
232,11/5/2019,2019-2020,Chelsea,Ajax,4,4,430,365,2115,247,246,2043,2,2,1
233,4/16/2019,2018-2019,Juventus,Ajax,1,2,283,220,2129,247,246,2043,1,1,1
234,4/30/2019,2018-2019,Tottenham,Ajax,0,1,349,326,2081,247,246,2043,1,2,1

In [54]:
data = data[['HOME_TEAM_SCORE', 'AWAY_TEAM_SCORE', 'result',
             'home_attack', 'home_defense', 'home_elo_rating', 'home_cluster',
             'away_attack', 'away_defense', 'away_elo_rating', 'away_cluster']]

data = data.apply(pd.to_numeric)
data['attack_effective'] = data['home_attack']-data['away_defense']
data['defense_effective'] = data['home_defense']-data['away_attack']
data['elo_rating_diff'] = data['home_elo_rating']-data['away_elo_rating']
data['team_strength_diff'] = data['home_cluster']-data['away_cluster']

data

,HOME_TEAM_SCORE,AWAY_TEAM_SCORE,result,home_attack,home_defense,home_elo_rating,home_cluster,away_attack,away_defense,away_elo_rating,away_cluster,attack_effective,defense_effective,elo_rating_diff,team_strength_diff
0,6,3,3,529,284,2352,3,293,317,2121,2,212,-9,231,1
1,3,2,3,392,333,2150,2,293,317,2121,2,75,40,29,0
2,1,0,3,392,333,2150,2,293,317,2121,2,75,40,29,0
3,2,0,3,446,322,2195,3,293,317,2121,2,129,29,74,1
4,3,1,3,314,329,2150,2,293,317,2121,2,-3,36,29,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,1,1,2,367,327,2196,2,247,246,2043,1,121,80,153,1
231,1,1,2,410,351,2347,3,247,246,2043,1,164,104,304,2
232,4,4,2,430,365,2115,2,247,246,2043,1,184,118,72,1
233,1,2,1,283,220,2129,1,247,246,2043,1,37,-27,86,0
234,0,1,1,349,326,2081,2,247,246,2043,1,103,79,38,1

In [55]:
from sklearn.model_selection import train_test_split
X = data[['home_attack','home_defense', 'home_elo_rating', 'home_cluster',
          'away_attack','away_defense', 'away_elo_rating', 'away_cluster', 
          'attack_effective','defense_effective', 'elo_rating_diff','team_strength_diff']]

X = (X-X.min())/(X.max()-X.min())
y = data[['HOME_TEAM_SCORE', 'AWAY_TEAM_SCORE', 'result']]

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.1, shuffle=False)

In [56]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=100, max_depth=5)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

In [57]:
from sklearn import metrics
accuracy = metrics.accuracy_score(y_test['result'], y_pred[:,2])
print("Accuracy: ",accuracy)

Accuracy:  0.4166666666666667

In [58]:
from sklearn.metrics import confusion_matrix

In [59]:
feature_imp = pd.Series(clf.feature_importances_, index=X.columns).sort_values(ascending=False)
print(feature_imp)

elo_rating_diff       0.149461
defense_effective     0.132121
attack_effective      0.127169
home_elo_rating       0.095504
away_attack           0.088258
home_attack           0.087367
away_defense          0.083797
home_defense          0.070314
away_elo_rating       0.066941
team_strength_diff    0.062197
away_cluster          0.019065
home_cluster          0.017806
dtype: float64

In [63]:
X_train = X_train[['attack_effective', 'defense_effective','elo_rating_diff']]
X_test = X_test[['attack_effective', 'defense_effective','elo_rating_diff']]

clf = RandomForestClassifier(n_estimators=100, max_depth=5)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

accuracy = metrics.accuracy_score(y_test['result'], y_pred[:,2])

In [67]:
def get_data(HOME_TEAM: str, AWAY_TEAM: str):
    # Check that the teams are valid
    valid_teams = set(team_data['Teams'])
    if HOME_TEAM not in valid_teams or AWAY_TEAM not in valid_teams:
        raise ValueError("Invalid team name")

    # Get the relevant data from team_data
    home_stat = team_data.loc[team_data['Teams'] == HOME_TEAM]
    away_stat = team_data.loc[team_data['Teams'] == AWAY_TEAM]

    # Calculate the features
    attack_effective = home_stat['Attacks'].values[0] - away_stat['Defense'].values[0]
    defense_effective = home_stat['Defense'].values[0] - away_stat['Attacks'].values[0]
    elo_rating_diff = home_stat['elo rating'].values[0] - away_stat['elo rating'].values[0]

    # Construct the output DataFrame
    data = pd.DataFrame([[attack_effective, defense_effective, elo_rating_diff]],
                        columns=['attack_effective', 'defense_effective', 'elo_rating_diff'])
    return data
data

,HOME_TEAM_SCORE,AWAY_TEAM_SCORE,result,home_attack,home_defense,home_elo_rating,home_cluster,away_attack,away_defense,away_elo_rating,away_cluster,attack_effective,defense_effective,elo_rating_diff,team_strength_diff
0,6,3,3,529,284,2352,3,293,317,2121,2,212,-9,231,1
1,3,2,3,392,333,2150,2,293,317,2121,2,75,40,29,0
2,1,0,3,392,333,2150,2,293,317,2121,2,75,40,29,0
3,2,0,3,446,322,2195,3,293,317,2121,2,129,29,74,1
4,3,1,3,314,329,2150,2,293,317,2121,2,-3,36,29,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,1,1,2,367,327,2196,2,247,246,2043,1,121,80,153,1
231,1,1,2,410,351,2347,3,247,246,2043,1,164,104,304,2
232,4,4,2,430,365,2115,2,247,246,2043,1,184,118,72,1
233,1,2,1,283,220,2129,1,247,246,2043,1,37,-27,86,0
234,0,1,1,349,326,2081,2,247,246,2043,1,103,79,38,1

In [81]:
import random

def predict_winner(HOME_TEAM, AWAY_TEAM):
    match_up = get_data(HOME_TEAM, AWAY_TEAM)
    reverse_match_up = get_data(HOME_TEAM, AWAY_TEAM)
   
    match_result_clf = get_clf_model_output(match_up)
    reverse_match_result_clf = 2-get_clf_model_output(reverse_match_up)
    score = match_result_clf + reverse_match_result_clf
    winner = HOME_TEAM
    if score>2:
        winner = HOME_TEAM
    elif score<2:
        winner = AWAY_TEAM
    else:
        winner = random.choice([HOME_TEAM, AWAY_TEAM])
    return winner

In [82]:
def get_data(HOME_TEAM, AWAY_TEAM):
    home_attack = team_data[team_data['Teams']==HOME_TEAM]['Attacks'].values[0]
    home_defense = team_data[team_data['Teams']==HOME_TEAM]['Defense'].values[0]
    home_elo_rating = team_data[team_data['Teams']==HOME_TEAM]['elo rating'].values[0]
    home_cluster = team_data[team_data['Teams']==HOME_TEAM]['Cluster'].values[0]
    away_attack = team_data[team_data['Teams']==AWAY_TEAM]['Attacks'].values[0]
    away_defense = team_data[team_data['Teams']==AWAY_TEAM]['Defense'].values[0]
    away_elo_rating = team_data[team_data['Teams']==AWAY_TEAM]['elo rating'].values[0]
    away_cluster = team_data[team_data['Teams']==AWAY_TEAM]['Cluster'].values[0]
    attack_effective = home_attack - away_defense
    defense_effective = home_defense - away_attack
    elo_rating_diff = home_elo_rating - away_elo_rating

    data = pd.DataFrame([[attack_effective, defense_effective, elo_rating_diff]],
                      columns=['attack_effective', 'defense_effective', 'elo_rating_diff'])
    return data

In [83]:

import random

def predict_winner(HOME_TEAM, AWAY_TEAM):
    match_up = get_data(HOME_TEAM, AWAY_TEAM)
    reverse_match_up = get_data(AWAY_TEAM, HOME_TEAM)
   
    match_result_clf = get_clf_model_output(match_up)
    reverse_match_result_clf = 2-get_clf_model_output(reverse_match_up)
    score = match_result_clf + reverse_match_result_clf
    
    winner = HOME_TEAM if score > 2 else (AWAY_TEAM if score < 2 else random.choice([HOME_TEAM, AWAY_TEAM]))
    return winner

In [84]:
X = data[['attack_effective', 'defense_effective', 'elo_rating_diff']]
y = data[['HOME_TEAM_SCORE', 'AWAY_TEAM_SCORE', 'result']]

def get_clf_model_output(match_up):
    y_pred = clf.predict(match_up)
    return y_pred[:,2][0]

In [87]:
qf1 = predict_winner('Benfica','Inter')
print(qf1)
qf2 = predict_winner('Man City','Bayern')
print(qf2)
qf3 = predict_winner('Real Madrid','Chelsea')
print(qf3)
qf4 = predict_winner('Napoli','Milan')
print(qf4)

Inter
Bayern
Real Madrid
Napoli